{%extends "autos/base_autos.html"%}

{%block title%}
    <title>Buscar por Marcas de Autos - Negocios de Matamoros</title>
{%endblock title%}



{%block breadcrumbs%}
    <p>
        <a href="{%url views.index%}">Inicio</a>
        >> <a href="{%url clasificados.views.main_autos%}">Vehiculos</a>
        >> <span>Marcas</span>
    </p>
{%endblock%}


{%block centercontent%}


            <table class="list_auto">
            <tr>
                <th class="marca_cell">
                    Marca
                </th>
                <th class="marca_cell">
                    Vehiculos disponibles
                </th>
            </tr>
            {%for marca in marcas%}
                <tr>
                    <td class="marca_cell">
                        <a href="{%url clasificados.views.modelos_autos marca.slug%}">{{marca.nombre}}</a>
                    </td>
                    <td class="marca_cell">
                        <a href="{%url clasificados.views.modelos_autos marca.slug%}">{{marca.clasif_count}}</a>
                    </td>
                </tr>
           {%endfor%}
            </table>


{%endblock%}
