{%extends "autos/base_autos.html"%}

{%block title%}
    <title>{{marca.nombre}} - Marcas de Autos - Negocios de Matamoros</title>
{%endblock title%}


{%block breadcrumbs%}
    <p>
        <a href="{%url views.index%}">Inicio</a>
        >> <a href="{%url clasificados.views.main_autos%}">Vehiculos</a>
        >> <a href="{%url clasificados.views.marcas_autos%}">Marcas</a>
        >> <span>{{marca.nombre}}</span>
    </p>
{%endblock%}


{%block centercontent%}


{% load pagination_tags %}
{% autopaginate modelos %}

        <table class="list_modelo">
            <tr>
                <th class="modelo_cell">
                    Modelo
                </th>
                <th class="modelo_cell">
                    Vehículos disponibles
                </th>
            </tr>
            {%for modelo in modelos%}
            <tr>
            <td class="modelo_cell">
                <a href="{%url clasificados.views.series_autos modelo.slug%}">{{modelo.nombre}}</a>
            </td>
            <td class="modelo_cell">
                <a href="{%url clasificados.views.series_autos modelo.slug%}">{{modelo.clasif_count}}</a>
            </td>

            </tr>
            {%endfor%}
        </table>
{%paginate%}


{%endblock%}
