{%extends "base.html"%}

{%block maincontent%}
{%block title%}
    <title>Mis Clasificados - Negocios de matamoros</title>
{%endblock title%}
<div id="content">
    <h2>Vehiculos</h2>
    {%for auto in autos%}
    <div class="list_auto">
        <h3><a href="{%url users.views.ver_miauto auto.id%}">{{auto.titulo}}</a></h3>
        {{auto.marca.nombre}}, {{auto.modelo.nombre}}, {{auto.serie.nombre}}
        <br>
        {{auto.descripcion}}
    </div>
    {%endfor%}

<br>
<br>

    <h2>Casas/Bienes inmuebles</h2>
    {%for casa in casas%}
    <div class="list_auto">
        <h3><a href="{%url users.views.ver_micasa casa.id%}">{{casa.titulo}}</a></h3>
        En {{casa.get_disponibilidad_display}}, En {{casa.estado}}, {{casa.municipio}}.
        <br>
        {{casa.descripcion}}
    </div>
    {%endfor%}
</div>
{%endblock%}
