{%extends "base.html"%}


{%block maincontent%}


<div id="content">
<p>
    Ingrese su nombre de usuario, al presionar el botón de Restablecer Contraseña, se le enviará una contraseña nueva a su correo electrónico, la cual podrá cambiar a la que usted prefiera en el panel de usuario (después de iniciar sesión con la contraseña nueva).
</p>

    <form method="POST">
    {%csrf_token%}
    <table>
        {{form}}
    </table>
    <input type="submit" value="Restablecer Contraseña" class="button blueb">
    </form>

</div>
{%endblock%}
