{%extends "casas/base_casas.html"%}

{%block title%}
    <title>Buscar por Marcas de Autos - Negocios de Matamoros</title>
{%endblock title%}

{%block breadcrumbs%}
    <p>
        <a href="{%url views.index%}">Inicio</a>
        >> <a href="{%url clasificados.views.main_casas%}">Casas e Inmuebles</a>
        >> <span>Categorias</span>
    </p>
{%endblock%}


{%block centercontent%}

{% load pagination_tags %}
{% autopaginate categorias %}

        <table class="list_modelo">
            <tr>
                <th class="modelo_cell">
                    Categoria
                </th>
                <th class="modelo_cell">
                    Inmuebles disponibles
                </th>
            </tr>
        {%for categoria in categorias%}
            <tr>
            <td class="modelo_cell">
                <a href="{%url clasificados.views.disponibilidad_casas categoria.slug%}">{{categoria.nombre}}</a>
            </td>
            <td class="modelo_cell">
                <a href="{%url clasificados.views.disponibilidad_casas categoria.slug%}">{{categoria.clasif_count}}</a>
            </td>

            </tr>
        {%endfor%}
        </table>

{%paginate%}

{%endblock%}
